{% extends 'client_layout.html.twig' %}

{% block title %}ESPACE CLIENT - FormArmor{% endblock %}

{% block FormArmor_body %}
    <h1 >Bienvenue <strong>{{ username }}</strong> !</h1>

{% endblock %}
